<!DOCTYPE html>
<html class="no-js" lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{titre}}</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
    </head>

    <body>
        <p> L'adresse du serveur est : {{adresseServeur}}.
        <p> la valeur de a est : {{a}}

        <h2>Accès au serveur en mode : {{environnement}}</h2>

        <h3>La nouvelle adresse est : {{nouvelleAdresse}}</h3>
    </body>
</html>
